@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pangolin&display=swap');

body{
    font-family: 'Lato', sans-serif;
    padding: 0px 50px 0px 50px;
    
    
}
/*----------------------------------------------------------------Colors*/
#iu-color-home{
    background-color: #bf73ab;
}
#iu-color-about{
    background-color: #c4e5f2;
}
#iu-color-contact{
    background-color: #f2811d;
}
#iu-color-gallery{
    background-color: #6bbf71;
}

a {
    color: #fff;
    font-weight: 500;
}

/*----------------------------------------------------------------Heading*/
#logo{
float: left;
font-size: 300%;
text-transform: capitalize;
padding-left: 10px;
padding-top: 20px;
font-family: 'Pangolin', cursive;
color: #17a649;
font-weight: 700;
letter-spacing: 5px ;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    padding-top: 20px;
    margin-bottom: 0;
    list-style: none;
    float: right;
    font-size: 110%;
}

/*----------------------------------------------------------------hero image*/

div#hero-image{
    height: 700px;
    width: 100%;
    background:  url("../img/children-holding-hands-park-horizontal.jpg")no-repeat center center;
    background-size: cover;
    background-position: relative;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer{
    height: 700px;
    width: 100%;
    overflow: hidden;
    background-color: #bf73ab;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/*----------------------------------------------------------------middle section*/
.summary {
    background-color: #f2811d;
    margin-top: 20px;
    color: #fff;
}