@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pangolin&display=swap');

body{
    font-family: 'Lato', sans-serif;
    padding: 0px 50px 0px 50px;
    
    
}

h2{
    text-align: center;
    font-family: 'pangolin', cursive;
    color:#A61774;
    font-weight: 800;
    letter-spacing: 4px;
    font-size: 300%;
    
}

/*----------------------------------------------------------------Colors*/
#iu-color-home{
    background-color: #bf73ab;
}
#iu-color-about{
    background-color: #c4e5f2;
}
#iu-color-contact{
    background-color: #f2811d;
}
#iu-color-gallery{
    background-color: #6bbf71;
}

a {
    color: #fff;
    font-weight: 500;
    font-size: 150%;
}

/*----------------------------------------------------------------Heading*/
#logo{
float: left;
font-size: 250%;
text-transform: capitalize;
padding-left: 10px;
padding-top: 20px;
font-family: 'Pangolin', cursive;
color: #17a649;
font-weight: 700;
letter-spacing: 4px ;

}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    padding-top: 20px;
    margin-bottom: 0;
    list-style: none;
    float: right;
    font-size: 110%;
}


/*----------------------------------------------------------------hero image*/

div#hero-image{
    height: 700px;
    width: 100%;
    background:  url("../img/children-holding-hands-park-horizontal.jpg")no-repeat center center;
    background-size: cover;
    background-position: relative;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer{
    height: 700px;
    width: 100%;
    overflow: hidden;
    margin-top: 0%;
    padding-top: 0%;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
/*----------------------------------------------------------------timetable*/
#timetable{
    background-image: url("../img/stationary.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    width:100%;
    overflow: hidden;

}

#timetable div{
    color: #fafafa;
    background-color: rgba(0,0,0, .4);
    width: 19.25%;
    height:300px;
    float: left;
    padding: 10px 0 0 10px;
    text-align: center;
    margin: 1px 4px 1px 4px;
}

div h3{
    font-family: 'pangolin', cursive;
    letter-spacing: 5px;
    font-weight: bold;
    
}

.scallop-up{
  height:100px;
  width:100%;
  background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 40, from(#1774A6), color-stop(0.49, #1774A6), color-stop(0.51, #fff), to(white));
-webkit-background-size: 49px 100%;
}

.scallop-down{
  height:100px;
  width:100%;
  background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 40, from(#1774A6), color-stop(0.49, #1774A6), color-stop(0.51, #fff), to(white));
-webkit-background-size: 49px 100%;
}

/*----------------------------------------------------------------wraparound and session details*/
#wraparound{
    text-align: center;
    margin-top:0;
    margin-bottom: 50px;
}

div i{
    padding-right: 10px;
    text-shadow:2px 2px 2px rgba(0,0,0,0.6);
    font-size: 150%;
    padding-top: 0px;

}
.fa-hourglass-start{
    color:#A61774;
}
.fa-hourglass-half{
    color:#74A617;
}
.fa-hourglass{
   color:#1774A6;
}

/*----------------------------------------------------------------middle section*/
.summary h3{
    margin-top: 0px;
    padding-top: 0;
    color: #1774A6;
    text-align: center;


}

.summary h2{
    padding-bottom: 0%;
    margin-bottom: 0%;
    text-shadow:2px 2px 3px rgba(0,0,0,0.6);
}

.summary p{
    text-align: justify;
    margin-top: 30px;
    color:rgba(0,0,0,0.6);
}

div .fa-shapes{
    margin-left: 47.5%;
    color: #74A617;
    font-size: 300%;
    
}

/*----------------------------------------------------------------Responsive design*/
@media screen and (max-width: 1396px) {

    #timetable div {
        width: 100%;
        clear: both;
        height:150%;
        border-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: rgb(179, 175, 175); 
        padding: 0;
    }



}

/*@media screen and (max-width: 943px){}*/